
<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <!-- Brand -->
    <a class="navbar-brand" routerLink="/">
      <!-- <a class="navbar-brand" href="#">
          <img src="assets/images/icon.png" height="80" >
     </a>  -->
     <!-- <i class="fa fa-graduation-cap"></i> -->
      <strong>{{title}}</strong>
    </a><div class="container">

    

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
       
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons"> <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
          <li *ngIf="!auth.isLoggedIn()" class="nav-item">
            <a class="nav-link waves-effect waves-light" routerLink="/login">Sign in</a></li>
          <li *ngIf="!auth.isLoggedIn()" class="nav-item">
            <a class="nav-link waves-effect waves-light" routerLink="/register">Register</a></li>  
          
          <!-- Add profile section later <li *ngIf="auth.isLoggedIn()" class="nav-item">
            <a class="nav-link waves-effect waves-light" routerLink="/profile">{{ auth.getUserDetails()?.name }}</a></li>
           -->
            <li *ngIf="auth.isLoggedIn()" class="nav-item">
            <a class="nav-link waves-effect waves-light" routerLink="/dashboard">Dashboard</a></li>
          <li *ngIf="auth.isLoggedIn()" class="nav-item">
            <a class="nav-link waves-effect waves-light" (click)="auth.logout()">Logout</a></li>
       
        <li class="nav-item">
          <a href="https://github.com/pvgupta24/Empact" class="nav-link" target="_blank">
            <i class="fa fa-github mr-2"></i> </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->

<router-outlet></router-outlet>

<script type="text/javascript">
  // Animations initialization
  new WOW().init();
</script>
